/fizzbuzz/build/
/FizzBuzz/build/
/fizzbuzz/dist/
/FizzBuzz/dist/
/Supermarket_Pricing/build/
/Supermarket_Pricing/dist/
/game_of_life/build/
/Game_of_Life/build/
/game_of_life/dist/
/Game_of_Life/dist/